.button {
  padding: 12px 24px;
  border-radius: 58px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  flex: 1;
}

.primary {
  background-color: var(--color-tertiary-t700);
  color: var(--color-neutral-n000);
}

.secondary {
  background-color: transparent;
  color: var(--color-tertiary-t700);
  border: 1px solid var(--color-tertiary-t700);
}

.button:focus-visible {
  outline: 1px solid var(--color-tertiary-t700);
  outline-offset: 2px;
}
