@import "./fonts.css";
@import "./tokens.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--color-neutral-n100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

body {
  margin: 0;
  min-width: 320px;
}
