.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  gap: 48px;
}

.content {
  max-width: 560px;
  z-index: 1;
}

.title {
  font-family: "Poppins", system-ui, sans-serif;
  font-size: var(--font-size-xxl);
  font-weight: 500;
  color: var(--color-neutral-n900);
}

.description {
  font-family: "Inter";
  font-size: var(--font-size-md);
  margin-top: 16px;
  color: var(--color-neutral-n600);
}

.actions {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.meta {
  margin-top: 12px;
  font-size: var(--font-size-sm);
  font-family: "Inter";
  color: var(--color-neutral-n900);
}

.media {
  position: relative;
  display: inline-block;
}

.mediaImage {
  display: block;
  max-width: 100%;
  height: auto;
}

.playButton {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.playButton:hover {
  opacity: 1;
  cursor: pointer;
}

.decorativeCircle {
  position: absolute;
  top: -600px;
  left: -77px;
  z-index: 0;
  width: 696px;
  height: 696px;
  border-radius: 50%;
  background: var(--color-primary-p50);
  filter: blur(40px);
  opacity: 0.6;

  pointer-events: none;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column;
    gap: 32px;
  }
  .content {
    max-width: 100%;
    text-align: center;
  }

  .decorativeCircle {
    width: 400px;
  }

  .actions {
    justify-content: center;
  }
}
