.card {
  background-color: var(--color-neutral-n000);
  padding: 2rem;
  border-radius: 30px;
  width: 276px;
  height: 294px;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}

.icon {
  max-height: 38px;
}

.title {
  font-size: var(--font-size-lg);
  font-family: "Poppins";
  font-weight: 500;
  color: var(--color-neutral-n900);
  padding-top: 4.6rem;
}

.subtitle {
  font-size: var(--font-size-md);
  font-family: "Inter";
  font-weight: 500;
  color: var(--color-neutral-n900);
}

@media (max-width: 768px) {
  .card {
    width: 236px;
  }
}
