.paymentDetails {
  display: flex;
  gap: 64px;
  padding: 96px 0;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  overflow: hidden;
}

.viewport {
  overflow: hidden;
  width: 900px;
}

.cardsContainer {
  display: flex;
  gap: 24px;
  transition: transform 0.4s ease;
  will-change: transform;
}

.titleWrapper {
  width: 550px;
  background-color: var(--color-neutral-n100);
  z-index: 2;
}

.title {
  font-size: 36px;
  font-weight: 500;
  font-family: "Inter";
  line-height: 1.2;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 16px;
}
