.paymentDetails {
  display: flex;
  gap: 64px;
  padding: 96px 0;
  overflow-x: hidden;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  overflow: hidden;
}

.viewport {
  overflow: hidden;
  width: 900px;
}

.cardsContainer {
  display: flex;
  gap: 24px;
  transition: transform 0.3s ease;
  transform: translateX(calc(-1 * var(--index) * (276px + 24px)));
}

.titleWrapper {
  width: 550px;
  background-color: var(--color-neutral-n100);
  z-index: 2;
}

.title {
  font-size: var(--font-size-xxl);
  font-weight: 500;
  font-family: "Inter";
}

.controls {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.chevrons {
  display: flex;
  gap: 16px;
}

.dots {
  display: none;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-neutral-n200);
  border: none;
  padding: 0;
  cursor: pointer;
}

.active {
  background-color: var(--color-primary-p500);
}

@media (max-width: 768px) {
  .paymentDetails {
    flex-direction: column;
    align-items: center;
  }

  .titleWrapper {
    max-width: 100%;
    text-align: center;
    padding-right: 0;
  }

  .carousel {
    overflow: hidden;
    align-items: center;
    touch-action: pan-y;
  }

  .chevrons {
    display: none;
  }

  .dots {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .cardsContainer {
    transform: translateX(calc(50% - 138px - (var(--index) * (276px + 48px))));
  }
}
